div {
  outline: 1px solid red;
}

:root {
  --landscape-width: 25; // % OR vw for responsive window resizing!
  --portrait-width: 80vw;
  --header-height: 4rem;
  --secs: 0.4s;
  --bg-left: springgreen;
  --bg-right: cyan;
  --bg-main: rgb(249, 249, 249);
}

.content {
  padding: 0px !important;
}

.sortingDiv {
  padding: 10px 25px 10px 15px;
  border-bottom: 1px solid rgb(208, 208, 208);
  height: 56px;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow: auto; // Disable scrolling on body
}

#layout {
  display: flex; // Flexbox definition
  overflow: hidden; // Disable scrolling on layout

  // Style in common for sidebars and main area:
  .header {
    position: relative;
    height: var(--header-height);
    text-align: center; // Horizontal center
    .title {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
  .content {
    overflow: auto;
    box-sizing: border-box;
    height: calc(90vh - var(--header-height));
    padding: 1rem;
  }
}

.w-100 {
  width: 100% !important;
}

.search-input {
  background-color: inherit !important;
  border: 0px !important;
  color: rgb(74, 74, 74) !important;
  font-size: 14px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  height: 56px !important;
  width: 100% !important;
}

// Main area specific style:

.notification {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-width: 12px;
  // background-color: #6a431a;
  // background-color: #6a431a;
  background-color: black;
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 10px;
  color: white;
  padding-left: 3px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline-block;

  strong {
    // color: #6a431a;
  }
}

.folder-btn {
  border: 1px solid rgb(208, 208, 208);
  color: #6a431a;
  font-weight: 600;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#main {
  background: var(--bg-main);

  flex-grow: 1;
  .header {
    background: #e7a444;
    color: rgb(45, 41, 38);
    padding: 8px 20px;
    height: 56px;
    display: flex;
    align-items: center;
    .open {
      display: flex;
      align-items: center;
    }
    .closed {
      display: flex;
      align-items: center;
    }
    @media (orientation: landscape) {
      .title {
        transition: left var(--secs), right var(--secs);
        &.left-closed {
          left: var(--header-height);
        }
      }
    }
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

// Style in common for both sidebars:
#left {
  transition: width var(--secs);
  width: 0;
  @media (orientation: landscape) {
    &.open {
      width: calc(1% * var(--landscape-width));
    }
  } // <-- Landscape ONLY sidebars
  .icon {
    // width: 10%;
    height: auto;
    font-size: 25px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .sidebar {
    transition: transform var(--secs); // <-- Portrait AND landscape!
    @media (orientation: portrait) {
      width: var(--portrait-width);
    }
    @media (orientation: landscape) {
      width: calc(1vw * var(--landscape-width));
    }
    .header {
      width: calc(100% - var(--header-height));
    }
  }
}

// Left sidebar specific style:
#left {
  z-index: 5;
  .sidebar {
    color: rgb(74, 74, 74);
    background-color: rgb(255, 255, 255);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
      rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    transform: translate(0px, 0px);
    overflow-x: scroll;
    overflow-y: auto;
    &.closed {
      transform: translateX(-100%);
    } // <-- Left portrait AND landscape!
    .header {
      left: var(--header-height);
    }
  }
}

.menuText {
  position: absolute;
  left: 40px;
  font-size: 20px;
}

.sideIcon {
  width: 200px;
}
.header-bar--flex {
  align-items: center;
  display: flex;
  width: 50%;
  justify-content: center;
  ._inputContainer_3j3zds {
    background: rgb(255, 255, 255) !important;
    box-shadow: rgb(216, 216, 216) 0px 1px 3px 0px !important;
    color: rgb(155, 155, 155) !important;
    width: 495px !important;
    position: relative !important;
    height: 44px;
  }
  ._searchIcon_wt0fza {
    user-select: none !important;
    margin-left: 5px !important;
    height: 24px !important;
  }
  ._input_1ogbq7d {
    background-color: inherit !important;
    border: 0px !important;
    color: rgb(74, 74, 74) !important;
    font-size: 14px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    // padding: 3px 8px !important;
    padding-top: 20px;
    max-width: 100% !important;
    width: 100% !important;
    box-shadow: none;
  }
  button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 12px;
    outline: none;
    font-size: 0px;
    font-weight: inherit;
    position: relative;
    overflow: visible;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 48px;
    height: 48px;
    background: none;
  }
  ._noCancelIcon_cvqqaxww {
    cursor: pointer;
    margin-right: 6px;
    margin-top: 0.1rem;
    padding: 0px;
  }
  ._icon_1qytp2v {
    color: #4a4a4a;
    position: relative;
    font-size: 24px;
    display: inline-block;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.accordion {
  background: none;

  .accordion-item {
    background: none;
    border-radius: 0px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    padding: 0px;
    border-bottom: 0.5px solid rgb(224, 224, 224) !important;
    border-top: 0.5px solid rgb(224, 224, 224) !important;
  }

  .accordion-item:first-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .accordion-button {
    background: none;
    padding: 4px 0px;
    border-radius: 0px;
    padding-right: 10px;
  }

  .accordion-button:not(.collapsed) {
    color: black;
    background-color: rgb(237, 237, 237) !important;
    border-radius: 0px;
    border-bottom: 0.5px solid rgb(224, 224, 224) !important;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: none;
    border-top-right-radius: none;
  }

  .accordion-body {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
}

._row_raku75 {
  position: relative !important;
  //border-bottom: 0.5px solid rgb(224, 224, 224) !important;
  //height: 76px !important;
  width: 100% !important;
  //background-color: rgb(255, 255, 255) !important;

  ._thumbColumn_1iasqch {
    user-select: none !important;
    cursor: pointer !important;
    float: left !important;
    height: 76px !important;
    width: 72px !important;
    padding: 18px 16px !important;
    ._thumbnailContainer_1dic54o {
      height: 40px !important;
      overflow: hidden !important;
      width: 40px !important;
      position: relative !important;
      min-width: 40px !important;
      cursor: pointer !important;
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
    ._thumbnailContainer_1dic54op {
      margin: auto;
      vertical-align: middle;
      position: relative;
      display: flex;
    }
    ._thumbnail_2i8afq {
      position: relative !important;
      max-height: 40px !important;
      margin: auto !important;
      width: 40px !important;
      max-width: 40px !important;
    }
  }

  ._detailColumn_1slhs1j {
    float: left !important;
    padding: 2px 0px !important;
    height: 76px !important;
    cursor: pointer !important;
    display: flex !important;

    ._title_k7qvdu {
      margin-bottom: 4px !important;
      color: rgb(74, 74, 74) !important;
      text-decoration-line: none !important;
      font-family: Helvetica, Arial, sans-serif !important;
    }
    ._truncate_ww5d6d {
      position: relative !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-align: inherit !important;
    }
    ._countContainer_13ovesk {
      font-size: 12px !important;
    }
    ._truncateMulti_3ywtd5 {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      display: -webkit-box !important;
      word-break: break-word !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      text-align: inherit !important;
    }

    ._indicatorRow_5kaapu {
      -webkit-box-align: center !important;
      display: flex !important;
      align-items: center !important;
    }

    ._container_1892uua {
      cursor: pointer !important;
      color: rgb(163, 163, 163) !important;
    }
    ._linkColours_11bsm43 {
      color: rgb(163, 163, 163) !important;
      text-decoration: none !important;
    }
    ._iconButton_ht0taf {
      padding: 0px !important;
      width: 20px !important;
      height: 20px !important;
      color: inherit !important;
      transition: none 0s ease 0s !important;
      z-index: auto !important;
      vertical-align: bottom !important;
    }

    ._icon_1v098ov {
      color: inherit !important;
      font-size: 20px !important;
      transition: none 0s ease 0s !important;
      width: 100% !important;
      text-align: inherit !important;
    }
    ._indicatorRow_5kaapuss {
      display: inline-block;
      padding-right: 8px;
    }
    button {
      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: default;
      text-decoration: none;
      margin: 0px;
      padding: 12px;
      outline: none;
      font-size: 0px;
      font-weight: inherit;
      position: relative;
      overflow: visible;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      width: 48px;
      height: 48px;
      background: none;
    }
    ._icon_1v098ov {
      color: rgb(74, 74, 74);
      position: relative;
      font-size: 24px;
      display: inline-block;
      user-select: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
}

._row_raku75SubMenu {
  position: relative !important;
  border-bottom: 0.5px solid rgb(224, 224, 224) !important;
  //height: 76px !important;
  width: 100% !important;
  padding-left: 25px;
  //background-color: rgb(255, 255, 255) !important;

  &:last-child {
    border-bottom: 0px solid rgb(224, 224, 224) !important;
  }

  ._thumbColumn_1iasqch {
    user-select: none !important;
    cursor: pointer !important;
    float: left !important;
    height: 76px !important;
    width: 72px !important;
    padding: 18px 16px !important;
    ._thumbnailContainer_1dic54o {
      height: 40px !important;
      overflow: hidden !important;
      width: 40px !important;
      position: relative !important;
      min-width: 40px !important;
      cursor: pointer !important;
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
    ._thumbnailContainer_1dic54op {
      margin: auto;
      vertical-align: middle;
      position: relative;
      display: flex;
    }
    ._thumbnail_2i8afq {
      position: relative !important;
      max-height: 40px !important;
      margin: auto !important;
      width: 40px !important;
      max-width: 40px !important;
    }
  }

  ._detailColumn_1slhs1j {
    float: left !important;
    padding: 2px 0px !important;
    height: 76px !important;
    cursor: pointer !important;
    display: flex !important;
    line-height: 18px;

    ._title_k7qvdu {
      margin-bottom: 4px !important;
      color: rgb(74, 74, 74) !important;
      text-decoration-line: none !important;
      font-family: Helvetica, Arial, sans-serif !important;
    }
    ._truncate_ww5d6d {
      position: relative !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-align: inherit !important;
    }
    ._countContainer_13ovesk {
      font-size: 12px !important;
    }
    ._truncateMulti_3ywtd5 {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      display: -webkit-box !important;
      word-break: break-word !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      text-align: inherit !important;
    }

    ._indicatorRow_5kaapu {
      -webkit-box-align: center !important;
      display: flex !important;
      align-items: center !important;
    }

    ._container_1892uua {
      cursor: pointer !important;
      color: rgb(163, 163, 163) !important;
    }
    ._linkColours_11bsm43 {
      color: rgb(163, 163, 163) !important;
      text-decoration: none !important;
    }
    ._iconButton_ht0taf {
      padding: 0px !important;
      width: 20px !important;
      height: 20px !important;
      color: inherit !important;
      transition: none 0s ease 0s !important;
      z-index: auto !important;
      vertical-align: bottom !important;
    }

    ._icon_1v098ov {
      color: inherit !important;
      font-size: 20px !important;
      transition: none 0s ease 0s !important;
      width: 100% !important;
      text-align: inherit !important;
    }
    ._indicatorRow_5kaapuss {
      display: inline-block;
      padding-right: 8px;
    }
    button {
      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: default;
      text-decoration: none;
      margin: 0px;
      padding: 12px;
      outline: none;
      font-size: 0px;
      font-weight: inherit;
      position: relative;
      overflow: visible;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      width: 48px;
      height: 48px;
      background: none;
    }
    ._icon_1v098ov {
      color: rgb(74, 74, 74);
      position: relative;
      font-size: 24px;
      display: inline-block;
      user-select: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
}

._row_raku75SubMenuChild {
  position: relative !important;
  border-bottom: 0.5px solid rgb(224, 224, 224) !important;
  //height: 76px !important;
  width: 100% !important;
  padding-left: 0px;
  //background-color: rgb(255, 255, 255) !important;

  &:last-child {
    border-bottom: 0px solid rgb(224, 224, 224) !important;
  }

  .childmenu {
    padding-left: 50px;
  }

  .accordion {
    background: none;

    .accordion-item {
      background: none;
      border-radius: 0px;
      border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
      padding: 0px;
      border-bottom: 0.5px solid rgb(224, 224, 224) !important;
      border-top: 0.5px solid rgb(224, 224, 224) !important;
    }

    .accordion-item:first-of-type {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .accordion-button {
      background: none;
      padding: 4px 0px;
      border-radius: 0px;
      padding-right: 10px;
    }

    .accordion-button:not(.collapsed) {
      color: black;
      background-color: rgb(237, 237, 237) !important;
      border-radius: 0px;
      border-bottom: 0.5px solid rgb(224, 224, 224) !important;
    }

    .accordion-button:focus {
      z-index: 3;
      border-color: none !important;
      outline: 0;
      box-shadow: none;
    }
    .accordion-item:first-of-type .accordion-button {
      border-top-left-radius: none;
      border-top-right-radius: none;
    }

    .accordion-button::after {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    .accordion-button:not(.collapsed)::after {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .accordion-body {
      padding: 0px;
      display: flex;
      flex-direction: column;
      background: #edededbf;
    }
  }

  ._thumbColumn_1iasqch {
    user-select: none !important;
    cursor: pointer !important;
    float: left !important;
    height: 76px !important;
    width: 72px !important;
    padding: 18px 16px !important;
    ._thumbnailContainer_1dic54o {
      height: 40px !important;
      overflow: hidden !important;
      width: 40px !important;
      position: relative !important;
      min-width: 40px !important;
      cursor: pointer !important;
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
    ._thumbnailContainer_1dic54op {
      margin: auto;
      vertical-align: middle;
      position: relative;
      display: flex;
    }
    ._thumbnail_2i8afq {
      position: relative !important;
      max-height: 40px !important;
      margin: auto !important;
      width: 40px !important;
      max-width: 40px !important;
    }
  }

  ._detailColumn_1slhs1j {
    float: left !important;
    padding: 2px 0px !important;
    height: 76px !important;
    cursor: pointer !important;
    display: flex !important;
    line-height: 18px;

    ._title_k7qvdu {
      margin-bottom: 4px !important;
      color: rgb(74, 74, 74) !important;
      text-decoration-line: none !important;
      font-family: Helvetica, Arial, sans-serif !important;
    }

    ._truncate_ww5d6d {
      position: relative !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-align: inherit !important;

      &:hover {
        color: red;
      }
    }

    ._countContainer_13ovesk {
      font-size: 12px !important;
    }
    ._truncateMulti_3ywtd5 {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      display: -webkit-box !important;
      word-break: break-word !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      text-align: inherit !important;
    }

    ._indicatorRow_5kaapu {
      -webkit-box-align: center !important;
      display: flex !important;
      align-items: center !important;
    }

    ._container_1892uua {
      cursor: pointer !important;
      color: rgb(163, 163, 163) !important;
    }
    ._linkColours_11bsm43 {
      color: rgb(163, 163, 163) !important;
      text-decoration: none !important;
    }
    ._iconButton_ht0taf {
      padding: 0px !important;
      width: 20px !important;
      height: 20px !important;
      color: inherit !important;
      transition: none 0s ease 0s !important;
      z-index: auto !important;
      vertical-align: bottom !important;
    }

    ._icon_1v098ov {
      color: inherit !important;
      font-size: 20px !important;
      transition: none 0s ease 0s !important;
      width: 100% !important;
      text-align: inherit !important;
    }
    ._indicatorRow_5kaapuss {
      display: inline-block;
      padding-right: 8px;
    }
    button {
      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: default;
      text-decoration: none;
      margin: 0px;
      padding: 12px;
      outline: none;
      font-size: 0px;
      font-weight: inherit;
      position: relative;
      overflow: visible;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      width: 48px;
      height: 48px;
      background: none;
    }
    ._icon_1v098ov {
      color: rgb(74, 74, 74);
      position: relative;
      font-size: 24px;
      display: inline-block;
      user-select: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
}

.MuiListItem-root {
  width: 350px !important;
  justify-content: space-between !important;
  border-top: 1px solid #e0e0e0 !important;
}

.arrowStyle {
  position: fixed;
  right: 0px;
}

.MuiCollapse-entered {
  height: auto;
  overflow: visible;
  margin-left: 10px;
}

.folderRow {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;

  .hoverDiv {
    display: none;
    color: rgb(74, 74, 74);
    background-color: #faf9f7d6;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    border-radius: 1rem;
    z-index: 1;
    padding: 10px;
    text-align: end;
  }

  .showDiv {
    position: relative;
    right: 14%;
    bottom: 7px;
  }

  .showDiv:hover {
    background-color: #6a431a;
    color: white;
  }

  .iconActive {
    &:hover {
      color: #6a431a;
    }
  }

  .folderLayputCard {
    -webkit-box-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    margin: 10px 16px;
    box-shadow: rgb(216, 216, 216) 0px 2px 4px 0px;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    text-align: center;
    &:hover {
      border: 1px solid #6a431a;
    }
    &:hover .hoverDiv {
      display: block;
      transition: 5ms;
    }

    &:hover .hoverDiv {
      display: block;
      transition: 5ms;
    }

    &:hover ._truncate_ww5d6d {
      color: #6a431a !important;
    }
  }

  .card-img img {
    max-width: 290px !important;
    max-height: 170px !important;
  }

  .card-describation {
    color: rgb(74, 74, 74);
    position: relative;
    z-index: 11;
  }

  ._truncate_ww5d6d {
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(74, 74, 74);
    text-decoration-line: none;
  }

  ._countContainer_13ovesk {
    font-size: 12px;
    font-style: italic;
  }

  ._linkColours_11bsm43 {
    color: rgb(163, 163, 163) !important;
    text-decoration: none !important;
  }
}

.folderLayputCardImage {
  -webkit-box-align: center;
  height: 370px;
  width: 300px;
  position: relative;
  margin: 10px 16px;
  box-shadow: rgb(216, 216, 216) 0px 2px 4px 0px;
  user-select: none;
  display: flex;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  text-align: center;
  &:hover {
    border: 1px solid #6a431a;
    ._linkColours_11bsm43 {
      display: block !important;
    }
  }
  &:hover .hoverDiv {
    display: block;
    transition: 5ms;
  }

  .hoverDiv {
    display: none;
    color: rgb(74, 74, 74);
    background: rgb(255, 255, 255);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    border-radius: 1rem;
    z-index: 1;
    padding: 10px;
    text-align: end;
  }

  .eyeIcon {
    color: rgb(163, 163, 163);
    position: relative;
    font-size: 80px;
    display: inline-block;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    opacity: 0.4;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 70%;

    svg {
      font-size: 80px;
    }
  }

  .iconActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-imgaa {
    object-fit: cover;
    max-width: 230px;
    max-height: 82%;
    margin: 0 auto;
    height: 100%;
  }

  .card-imgaa img {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(../images/checkered-background.png);
  }

  .card-describation {
    color: rgb(74, 74, 74);
    position: relative;
    z-index: 11;
  }

  ._truncate_ww5d6d {
    margin-bottom: 0px;
    color: rgb(74, 74, 74);
    text-decoration-line: none;
  }

  ._countContainer_13ovesk {
    font-size: 12px;
    font-style: italic;
  }

  ._bottom_f93tfg {
    line-height: 14px;
    margin-top: 10px;

    ._dpv7do3 {
      -webkit-box-align: center;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      font-size: 12px;
      padding-bottom: 2px;
      display: table;
    }

    ._content_c3jvop {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      font-size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }

    ._truncate_ww5d6d {
      position: relative;
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
      text-align: inherit;
    }

    ._linkColours_11bsm43 {
      color: rgb(163, 163, 163) !important;
      text-decoration: none !important;
      text-align: left;
      display: none;

      svg {
        font-size: 20px;
      }
    }
  }
}

// hover card condition ....

.css-1h6e7bp-V-StyledOverlay {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 56px;
  padding: 12px 16px;
}

.css-1tjfxpo-P {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.css-12s0ktk-g-E {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  margin-block: 0px;
  color: rgb(21, 21, 21);
  font-size: 22px;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.css-174pus9-w-A {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  padding: 0px;
  border: none;
  background-color: initial;
  cursor: pointer;
  box-shadow: transparent 0px 0px 0px 2px;
  color: rgb(89, 89, 89) !important;
}

.css-o51lz9-T {
  height: 24px;
}

.jss53 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.css-1yeqqj-ae {
  padding: 0px 16px 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.css-ghprhf-pe {
  display: flex;
  flex-basis: 100%;
}

.css-ghprhf-pe > :last-child {
  margin-right: 0px !important;
}

.css-ecz5du-OverlayContent {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 16px;
  flex-shrink: 0;
}

.css-mxd61i-StyledLayoutWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.css-117wpbr-we {
  width: 100%;
  max-height: 400px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.css-v86hxw-d {
  width: 100%;
  height: 100%;
}

.css-yj4l3y-LeftContainer {
  border-width: 1px 4px 1px 1px;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  border-image: initial;
  background: rgb(247, 247, 247);
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.css-u9qt4x-ContainerHeader {
  display: flex;
  border-bottom: 1px solid rgb(247, 247, 247);
  flex-direction: row;
  width: 100%;
  padding: 8px 10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: white;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
}

.css-1xusefk-StyledCheckbox > span {
  width: 24px;
  height: 24px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.jss77 {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.jss71 {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}

.jss78 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}

.css-tynm26-ActionMenuContainer {
  display: flex;
  background: white;
  -webkit-box-align: center;
  align-items: center;
}

.css-1wsi2nc-q {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-x4pcj5-D {
  cursor: pointer;
  padding: 2px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 16px;
}

.css-fk6d94-StyledIcon {
  color: rgb(89, 89, 89);
}

.css-1wsi2nc-q .dropdown-menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-jww1lo-w {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  padding: 0px;
  border: none;
  background-color: initial;
  cursor: pointer;
  box-shadow: transparent 0px 0px 0px 2px;
}

.css-o51lz9-T {
  height: 24px;
}

.css-1dfsjzh-m {
  color: rgb(89, 89, 89) !important;
  transition: color 100ms ease 0s !important;
}

.css-qozap3-LeftContainerContent {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

._container_8oa4ch {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
}

._container_8oa4ch img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/checkered-background.png);
}

.css-1n4pdp3-ye {
  width: 16px;
  height: 100%;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.css-c977od-Ae {
  width: 6px;
  height: 22px;
}

.css-1q84ldw-d {
  width: 100%;
  height: 100%;
}

.bg-grey {
  background-color: rgb(237, 237, 237);
}

.css-ista28-P {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
}

.css-19zhjyx-O {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  flex-shrink: 0;
  position: relative;
  width: calc(100% - 0px);
}

.css-y2h32b-B:first-child {
  border-radius: 3px 0px 0px 3px;
  border-left: 0px;
}

.css-y2h32b-B {
  // background: rgb(237, 237, 237);
  padding: 0px 16px;
  text-align: center;
  color: rgb(21, 21, 21);
  flex-shrink: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid rgb(217, 217, 217);
}

.css-1x56mxt-S {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  color: rgb(21, 21, 21);
}

.css-1h091bq-B:last-child {
  border-radius: 0px 3px 3px 0px;
}

.css-1j5acs0-RightContainer {
  // height: calc(100% - 49px);
  height: 100%;
  border: 1px solid rgb(191, 191, 191);
  // margin-top: 8px;
  background: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  border-radius: 4px;
}

.css-9olsrx-k-AccordianWrapper {
  // padding: 0px 0px 0px 4px;
  width: 100%;
  display: block;
  background-color: rgb(44, 29, 29);
  box-shadow: rgb(217, 217, 217) 0px -1px 0px inset;
}

.css-126o97p-v {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: start;
  padding-left: 0px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.css-16ikibj-io {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.css-k4qa43-b {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  margin-block: 0px;
  color: rgb(21, 21, 21);
  font-size: 16px;
  line-height: 24px;
}

.css-17ftsys-B {
  display: inline-block;
  width: calc(100%);
}

.css-ymkeaq-DetailsWrapper {
  // padding: 0px 12px 16px 40px;
}

.css-ymkeaq-DetailsWrapper > div {
  flex-direction: column;
}

.css-1l3nyhq-b {
  display: flex;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.css-1o7etbk-v {
  color: rgb(115, 115, 115);
  min-width: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 10px;
}
.detail-bg {
  background-image: url("../images/checkered-background.png");
}
.text-red {
  color: #6a431a;
}

.bg-red {
  background: #6a431a;
}

.pill {
  cursor: pointer;
  background: #e6e6e6 !important;
}

.selected-pill {
  background: #6a431a !important;
  color: white !important;
}

.pill:hover {
  background: #6a431a !important;
  color: white !important;
}

.css-1aul40s-S-k {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  color: rgb(21, 21, 21);
  max-width: 100%;
  word-break: break-word;
}

.css-c6scz2-FolderLinkWrapper {
  color: #6a431a;
  font-weight: bold;
}

.text-red {
  color: #6a431a;
}

.css-1ffbns-StyledAssetInfoWrapper {
  height: 40px;
  border-top: 1px solid rgb(191, 191, 191);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: 16px;
}

.video-react.video-react-fluid,
.video-react.video-react-16-9,
.video-react.video-react-4-3 {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 !important;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 80%;
  top: 40px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.folderLayputCard-col {
  -webkit-box-align: center;
  height: 110px;
  width: 47%;
  position: relative;
  margin: 10px 16px;
  box-shadow: rgb(216, 216, 216) 0px 2px 4px 0px;
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  text-align: center;
  &:hover {
    border: 1px solid #6a431a;
  }
  &:hover .hoverDiv {
    display: block;
    transition: 5ms;
  }

  &:hover .hoverDiv {
    display: block;
    transition: 5ms;
  }

  &:hover ._truncate_ww5d6d {
    color: #6a431a !important;
  }

  .hoverDiv {
    display: none;
    color: rgb(74, 74, 74);
    background-color: #faf9f7d6;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    border-radius: 1rem;
    z-index: 1;
    padding: 10px;
    text-align: end;
  }

  .showDiv {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 100px;
    padding: 6px 10px;
    height: 40px;
  }

  .showDiv:hover {
    background-color: #6a431a;
    color: white;
  }

  .iconActive {
    position: absolute;
    right: 15px;
    top: 10px;
    &:hover {
      color: #6a431a;
    }
  }

  .card-body {
    width: 100%;
    display: flex;
    padding: 5px;
    height: auto;
    align-items: center;
  }

  img {
    width: 100px;
  }

  .card-describation {
    color: rgb(74, 74, 74);
    position: relative;
    z-index: 11;
    text-align: left;
  }

  ._truncate_ww5d6d {
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(74, 74, 74);
    text-decoration-line: none;
  }

  ._countContainer_13ovesk {
    font-size: 12px;
    font-style: italic;
  }

  ._linkColours_11bsm43 {
    color: rgb(163, 163, 163) !important;
    text-decoration: none !important;
  }
}

.folderLayputCardImage-col {
  -webkit-box-align: center;
  height: 160px;
  width: 100%;
  position: relative;
  margin: 10px 16px;
  box-shadow: rgb(216, 216, 216) 0px 2px 4px 0px;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #4a4a4a;
  &:hover {
    color: #4a4a4a;
  }

  .card-imgaa {
    float: left !important;
    width: 130px !important;
    min-width: 130px !important;

    img {
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;
      text-align: center;
      background-image: url(../images/checkered-background.png);
    }
  }

  .describation {
    position: relative;
    z-index: 11;
    float: left;
    width: 456px;
  }

  ._titleColumnContainer_1u6yab5 {
    margin: 0px 10px 0px 30px;
    line-height: 1.4em;
    cursor: pointer;
    text-align: left;
  }

  ._x8ede33 {
    font-weight: bold;
    word-break: break-all;
  }

  ._secondaryText_jnfj5l {
    font-size: 12px;
    word-break: break-all;
    cursor: text;
  }

  ._labelText_hq5slr {
    font-weight: bold;
  }

  ._indicators_lp6zce {
    -webkit-box-align: center;
    margin-left: -15px;
    margin-top: -5px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  ._iconButton_10fc6mf {
    background: none;
    border: none;
    padding: 0px;
    transition: none 0s ease 0s;
    z-index: auto;
    vertical-align: bottom;
    color: #a3a3a3;
    width: 48px;
    height: 48px;
    &:hover {
      color: #6a431a;
    }
  }

  ._dateColumn_1bhkis2 {
    float: left;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
  }

  ._truncate_title {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: inherit;
    &:hover {
      color: #6a431a;
    }
  }

  ._actionsColumn_13waoy8 {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .actions-menu {
    align-items: normal;
    display: flex;
    justify-content: flex-end;
  }

  ._container_1892uua {
    cursor: pointer;
    color: rgb(163, 163, 163);
  }

  ._linkColours_icon {
    color: rgb(163, 163, 163);
    text-decoration: none;
    &:hover {
      color: #6a431a;
    }
    &:hover ._iconButton_10fc6mfw {
      color: #6a431a;
    }
  }

  ._iconButton_10fc6mfw {
    background: none;
    border: none;
    padding: 0px;
    transition: none 0s ease 0s;
    z-index: auto;
    vertical-align: bottom;
    color: #a3a3a3;
    box-sizing: border-box;
    display: block;
    -webkit-text-decoration: auto;
    text-decoration: auto;
    outline: none;
    position: relative;
    width: 48px;
    height: 48px;
  }

  ._text_13v1tkt {
    font-size: 12px;
    text-align: center;
    max-width: 68px;
    margin: 0px auto;
  }

  .card-date {
    float: left;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
