.noLayout {
  background-color: #ffffff;
  background-image: url("../images/layout-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-btn {
  cursor: pointer;
  background-color: #ffc72c;
  border: 1px solid #ffc72c !important;
  color: #2d2926;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.border-bottom-3 {
  border-bottom: 1px solid black !important;
}

.login-header {
  font-size: 18px;
  font-weight: bold !important;
}

.login-modal {
  position: relative;
  top: 25%;
}

.transparent-footer {
  width: 95%;
  position: absolute;
  top: 95%;
  margin-left: 30px;
  border-top: 1px solid #fdfdfd;
}

.transparent-footer .inline-list {
  margin: 0 0 1em -22px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.transparent-footer .inline-list li {
  list-style: none;
  float: left;
  margin-left: 22px;
  display: block;
}

.transparent-footer .inline-list li a {
  color: #fdfdfd;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.register-form div input {
  margin: 6px auto;
}


.flag{
  display: inline-block !important;
  width: 15%;
}

.textbox-flag{
  width: 85%;
  display: inline-block;
}